/* Demo Margin */
.container{
  margin-top: 50px;
  margin-bottom: 50px;
  
  
}

.full-height-dvh {
  min-height: 100dvh;
}

.btn-fixed-200 {
  width: 200px; /* Of een andere waarde */
}

.rectangle-responsive {
  width: 100vw;
  max-width: 100vh; /* Voeg een maximale breedte toe voor grote schermen */
  margin: auto; /* Centreert de div */
  border: 2px solid #ffd1dc; /* Rode rand om de div te visualiseren */
  border-radius: 10px; /* Afgeronde hoeken */
  background-color: rgba(25, 25, 25, 0.4); /* Transparante roze achtergrond */
  box-sizing: border-box; /* Zorgt ervoor dat padding en border worden meegerekend bij de breedte en hoogte */
  padding: 1rem; /* Binnenmarge voor de inhoud */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.rectangle-with-bg {
  /* Breedte/hoogte in % of px, net als eerder */
  max-width: 90vw;
  max-height: 90vh;
  
  margin: 0 auto;
  
  /* Ronde hoeken en rode rand */
  border-radius: 10px;
  border: 2px;
  
  /* Achtergrondafbeelding instellen */
  background-image: url("../assets/empty-page.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  /* of 'contain' als je de volledige afbeelding
     wilt laten zien, maar dan kunnen er randen overblijven */

  /* Padding zodat tekst niet strak tegen de rand zit */
  padding: 1rem;

  /* Als de inhoud groter is dan max-height, komt er scroll */
  overflow: hidden;
}


/* KAARSEN */ 


  /* Kaarsen */
  #candles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .candle {
    width: 30px;
    height: 100px;
    background: linear-gradient(to bottom, #ff9a9e, #ff6f61); /* Roze en oranje */
    border-radius: 5px;
    margin: 10px;
    position: relative;
    box-shadow: 0 0 10px rgba(255, 105, 135, 0.5); /* Gloei-effect */
  }
  
  .flame {
    width: 10px;
    height: 20px;
    background: radial-gradient(circle, #ffdd55, #ff4444); /* Gele kern en rode rand */
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: 10px;
    animation: flicker 0.5s infinite ease-in-out;
    box-shadow: 0 0 15px rgba(255, 170, 51, 0.8); /* Gloeiende vlam */
  }
  
  /* Verander de algemene tekstkleur van de modal */
.modal-content {
  color: #000000; /* Vervang #ff6b6b door de gewenste kleurcode */
}
